.sensor__container {
  width: 100%;
  margin: 1rem 1rem 3rem 1rem;

  .sensor__header {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
  }

  .sensor__column {
    background-color: cornflowerblue;
    transition: height 0.5s ease;
    border-color: transparent;

    &--empty {
      border-color: #eaeaea;
    }
  }
}
