@import "../style.scss";

.sensor__container {
  width: 100%;
  margin-bottom: 3rem;

  @include screen-is(md) {
    margin: 2rem;
  }

  .sensor__header {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
  }

  .sensor__column {
    background-color: cornflowerblue;
    transition: height 0.5s ease;
    border-color: transparent;

    &--empty {
      border-color: #eaeaea;
    }
  }
}
