@import "../style.scss";

.sensor__container {
  width: 100%;
  margin-bottom: 3rem;

  @include screen-is(md) {
    margin: 2rem;
  }

  .sensor__header {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
  }

  .sensor__column {
    background-image: linear-gradient(19deg, $blue-grey 0%, $light-grey 100%);
    transition: height 0.5s ease;
    border-radius: 5px;

    &--empty {
      border: 1px solid #eaeaea;
    }
  }
}
