@import "./style.scss";

.page__heading {
  margin-bottom: 1rem;
  font-weight: bold;
}

.column__container {
  display: flex;
  flex-flow: column wrap;

  @include screen-is(md) {
    flex-flow: row nowrap;
  }
}
