$widths: (
  "sm": 0,
  "md": 1440px,
  "lg": 1920px,
  "xl": 2560px,
);
$heights: (
  "sm": 0,
  "md": 900px,
  "lg": 1080px,
  "xl": 1440px,
);

@mixin screen-is($breakpoint) {
  @media (min-width: map-get($widths, $breakpoint)),
    (min-height: map-get($heights, $breakpoint)) and (orientation: landscape) {
    @content;
  }
}

body {
  padding: 2rem;
  font-family: "Sintony", sans-serif;

  em {
    font-weight: bold;
  }

  .bordered {
    border: 1px solid #eaeaea;
    border-radius: 5px;

    &:hover {
      border-color: transparent;
      box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
    }
  }
}
